# Saída de build
dist/
.astro/

# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variáveis de ambiente
.env
.env.production

# Arquivos de sistema
.DS_Store
Thumbs.db
*.swp
*.tmp

# Editores
.vscode/
.idea/
*.iml
